html, body {
    height: 100%;
    margin: 0;
}

@-webkit-keyframes arrow {
    0% {
        margin-top: -50px; }

    50% {
        margin-top: -30px; }

    100% {
        margin-top: -50px; }
}

.arrow-new {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-top: -60px;
    -webkit-animation: 'arrow' 3s infinite;
    border: 13px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top-color: #000;
    width: 0;
    height: 0;
}

.story {
    height: 1000px;
    padding: 0px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#intro {
    background-color: white;
}

#launch {
    background: url("../images/2.jpg") 50% 0 no-repeat fixed;
}

#join {
    background: url("../images/4.jpg") 50% 0 no-repeat fixed;
}
#about {
    background: url("../images/3.jpg") 50% 0 no-repeat fixed;
}

#intro #logo-div {
    background: url("../images/Logo.png") 50% 0 no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}
#intro article {
    width: 100%;
    top: 300px;
    position: absolute;
    text-align: center;
}

#launch article {
    border: 5px solid;
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
    position: absolute;
    left: 45%;
    top: 50%;
}
#join article{
    border: 5px solid #fff;
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
    position: absolute;
    color: #fff;
    left: 45%;
    top: 50%;
}

header {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 100%;
}
header h1{
    display: none;
}
header nav {
    background-color: rgba(50,50,50,0.5);
    height: 65px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 25px black;
}
header nav ul{
    position: relative;
}
header nav ul li {
    display: block;
    float: left;
    margin: 0px 1px;
    border: solid 0px white;
    padding: 0px 5px;
    line-height: 1.5;
    font-size: 30px;
}
header nav ul li a {
    text-decoration: none;
    display: block;
    color:  transparent;
    text-shadow: 0px 0px 4px #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
header nav ul:hover li a {
    text-shadow: 0px 0px 5px #0d1a3a;
}
header nav ul li a:hover{
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 1px #fff;
}